<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="description"
            content="Temukan restoran-restoran terbaik di sekitar Anda! Dapatkan rekomendasi dan ulasan untuk restoran favorit di daerah Anda." />
        <meta name="mobile-web-app-capable" content="yes" />
        <meta name="theme-color" content="#075174" />
        <meta name="application-name" content="Radar Resto" />
        <meta name="keywords" content="restaurant" />
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <link rel="icon" type="image/png" sizes="16x16" href="assets/favicon-16x16.png" />
        <link rel="icon" type="image/png" sizes="32x32" href="assets/favicon-32x32.png" />
        <link rel="manifest" href="assets/manifest.webmanifest" />
        <title>Radar Resto</title>
    </head>

    <body>
        <header>
            <app-bar></app-bar>
            <app-hero></app-hero>
        </header>
        <main tabindex="0" id="mainContent"></main>
        <app-footer></app-footer>
    </body>

</html>

