<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Temukan restoran-restoran terbaik di sekitar Anda! Dapatkan rekomendasi dan ulasan untuk restoran favorit di daerah Anda."
    />
    <meta name="keywords" content="restaurant" />
    <meta name="theme-color" content="#075174" />
    <title>RadarResto</title>
  </head>

  <body>
    <header>
      <app-bar></app-bar>
      <app-hero></app-hero>
    </header>
    <main tabindex="0" id="mainContent">
      <section class="content">
        <h2><span class="title-content">Explore Restaurant</span></h2>
        <div class="resto-list" id="list">
          <resto-list></resto-list>
        </div>
      </section>
    </main>
    <footer>
      <p>
        &copy; 2023 RadarResto | Made with
        <span>Mohamad Ripal Perdiansyah</span>
      </p>
    </footer>
  </body>
</html>
