:root {
  --primary-color: #075174;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
html {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  font-family: Poppins, sans-serif;
  font-size: 12px;
  color: #424242;
}

/* NAVBAR */

.nav {
  display: flex;
  justify-content: center;
  background-color: white;
  position: fixed;
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  z-index: 99;
}

.logo {
  display: flex;
  margin: 11px;
  width: 100%;
  justify-content: center;
}

.nav-list {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin: 20px;
  list-style: none;
}

.logo img {
  max-width: 60px;
  max-height: 60px;
  margin-top: auto;
  object-fit: cover;
  align-items: center;
}

.logo h1 {
  position: relative;
  top: -0.1em;
  left: -0.1em;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  color: var(--primary-color);
  width: 100%;
}

.logo h1 a:hover {
  color: rgba(7, 81, 116, 0.5);
}

.logo h1 a {
  font-size: 2.2rem;
}

.nav a {
  display: inline-block;
  color: var(--primary-color);
  margin: 7px;
  width: fit-content;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
}

.nav-list a:hover {
  border-bottom: 2px solid var(--primary-color);
  transition: 5.5 ease-in;
  color: rgba(7, 81, 116, 0.5);
}

/* JUMBOTRON */

.hero {
  display: flex;
  align-items: center;
  background-color: black;
  background-position: center;
}

.hero img {
  top: 0;
  filter: blur(2px);
  width: 100%;
  height: 100vh;
  object-fit: cover;
  opacity: 0.3;
}

.hero-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  color: white;
  position: absolute;
}

.hero-title img {
  filter: blur(0px);
  opacity: 1;
  object-fit: contain;
  width: 350px;
  height: 350px;
}

/* MAIN */

main {
  width: 100%;
  margin: 2rem auto;
}

/* CONTENT */

.content h2 {
  margin: 10px auto;
  text-align: center;
}

.title-content {
  text-align: center;
  font-size: 32px;
  font-weight: 500;
  color: var(--primary-color);
}

.resto-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 15px;
}

.resto-item {
  display: flex;
  margin: 12px;
  width: 300px;
  height: 400px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 -5px 8px 0 rgba(0, 0, 0, 0.3);
}

.resto-item .card {
  width: 300px;
  height: fit-content;
}

.resto-item .card img {
  width: 100%;
  max-height: 200px;
  object-fit: cover;
}

.resto-item .card-body {
  padding: 10px;
  margin: 5px auto;
}

.card-body .card-title {
  font-size: 1.3em;
  font-weight: 700;
  width: fit-content;
  padding: 5px;
  border-radius: 3px;
  margin: 5px auto;
  background-color: var(--primary-color);
  color: white;
}

.card-body .rating {
  display: flex;
  justify-content: center;
  font-size: 1.1em;
  margin: 1em;
  font-weight: 700;
  color: var(--primary-color);
}

.card-body .card-text-city {
  font-size: 14px;
  font-weight: 700;
  margin-left: 4em;
  color: var(--primary-color);
}

.card-body .card-description {
  font-size: 14px;
  font-weight: 400;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  color: var(--primary-color);
}

/* FOOTER */

footer {
  background-color: #2c3e50;
  padding: 2em;
  width: 100%;
  text-align: center;
  border-radius: 20px 20px 0 0;
}

footer p {
  display: inline-block;
  padding: 1.1em;
  font-size: 1.5em;
  text-decoration: none;
  color: #fff;
}

.skip-content {
  position: absolute;
  top: -50px;
  left: 0;
  background-color: var(--primary-color);
  color: white;
  padding: 8px;
  z-index: 100;
}

.skip-content:focus {
  top: 0;
}

@media screen and (max-width: 499px) {
  .nav-list {
    cursor: default;
    position: fixed;
    color: var(--primary-color);
    background-color: white;
    margin-top: 60px;
    top: 0;
    right: -20px;
    height: 100%;
    width: 200px;
    flex-direction: column;
    align-items: flex-end;
    display: list-item;
    text-align: center;
    padding: 20px;
    z-index: 10;

    -webkit-transform: translate(200px, 0);
    transform: translate(200px, 0);
    transition: transform 0.3s ease;
  }

  .nav-list li {
    margin: 20px;
  }

  .logo {
    align-items: center;
    justify-content: start;
    margin: 9px;
  }

  .logo img {
    max-width: 50px;
    max-height: 50px;
  }

  .logo h1 {
    width: fit-content;
    height: fit-content;
  }

  .logo h1 a {
    font-size: 18px;
  }

  .open {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }

  .menu-button {
    background-color: transparent;
    border: 0;
    display: block;
    cursor: pointer;
    color: var(--primary-color);
    z-index: 3;
    padding-right: 2rem;
    min-width: 44px;
    min-height: 44px;
  }

  .menu-button i {
    font-size: 1.25rem;
  }
}

@media screen and (min-width: 500px) {
  .resto-list {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 5px;
    margin: auto 6rem;
  }

  .menu-button {
    display: none;
  }
}

@media screen and (min-width: 600px) {
  .resto-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
    margin: auto 6rem;
  }
}

@media screen and (min-width: 950px) {
  .resto-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 1200px) {
  main {
    max-width: 1200px;
  }
}
