$primary-color: #075174;
$media: (
  "mobile-normal": 500px,
  "mobile-large": 600px,
  "tablet": 950px,
  "laptop": 1200px
);

@mixin devices($breakpoint) {
  @each $breakpoints, $size in $media {
    @if $breakpoint ==$breakpoints {
      @media screen and (min-width: $size) {
        @content;
      }
    }
  }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-weight: 600;
  font-family: Poppins, sans-serif;
  font-size: 12px;
  color: #424242;
}

html {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

main {
  width: 100%;
  margin: 2rem auto;
}

.nav {
  display: flex;
  justify-content: center;
  background-color: transparent;
  position: fixed;
  width: 100%;
  height: 4.375rem;
  z-index: 99;

  a {
    display: flex;
    color: #fff;
    margin: 15px 20px;
    text-decoration: none;
    font-weight: 600;
    min-width: 44px;
    min-height: 44px;
  }

  &-colored {
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

    a {
      color: $primary-color;
    }
  }
}

.logo {
  display: flex;
  margin: 11px;
  width: 100%;
  justify-content: center;

  img {
    max-width: 60px;
    max-height: 60px;
    margin-top: auto;
    object-fit: cover;
    align-items: center;
  }

  h1 {
    top: 0.6em;
    left: 0.1em;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    color: $primary-color;
    width: 100%;

    a {
      margin: 10px;

      &:hover {
        color: rgba(7, 81, 116, 0.5);
      }

      font-size: 2rem;
    }
  }
}

.nav-list {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin: 10px 25px;
  list-style: none;

  a {
    &:hover {
      transition: 5.5 ease-in;
      color: rgba(7, 81, 116, 0.5);
    }
  }
}

.hero {
  align-items: center;
  background-color: black;
  background-position: center;

  picture {
    img {
      top: 0;
      filter: blur(2px);
      width: 100%;
      height: 100vh;
      object-fit: cover;
      opacity: 0.3;
    }
  }
}

.hero-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  color: white;
  position: absolute;
  top: 150px;

  img {
    filter: blur(0px);
    opacity: 1;
    object-fit: contain;
    width: 350px;
    height: 350px;
  }
}

.content {
  h2 {
    margin: 10px auto;
    text-align: center;
  }
}

.title-content {
  text-align: center;
  font-size: 32px;
  font-weight: 500;
  color: $primary-color;
}

.resto-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 15px;
}

.resto-item {
  display: flex;
  margin: 12px;
  width: 300px;
  height: 400px;
  box-shadow:
    5px 10px 10px 2px rgba(0, 0, 0, 0.1),
    0 -5px 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;

  .card {
    width: 300px;
    height: fit-content;

    img {
      width: 100%;
      max-height: 200px;
      object-fit: cover;
      border-radius: 5px 5px 0 0;
    }
  }

  .body {
    padding: 15px;

    .resto-title {
      font-size: 1.3rem;
      font-weight: 700;
      width: fit-content;
      margin: auto;
      color: white;

      a {
        display: inline-block;
        min-height: 44px;
        min-width: 44px;
        color: $primary-color;
        text-decoration: none;

        &:hover {
          color: rgba(7, 81, 116, 0.5);
        }
      }
    }

    .rating {
      display: flex;
      justify-content: center;
      font-size: 1.1em;
      margin: 1em;
      font-weight: 700;
      color: $primary-color;
    }

    .text-city {
      font-size: 14px;
      font-weight: 700;
      margin-left: 4em;
      color: $primary-color;
    }

    .description {
      font-size: 14px;
      font-weight: 400;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 4;
      -webkit-box-orient: vertical;
      color: $primary-color;
    }
  }
}

.resto-item-detail {
  display: flex;
  flex-direction: column;
  margin: 10px auto;
  width: 70%;

  h3 {
    color: $primary-color;
    text-align: center;
    font-size: 2rem;
  }

  .name-resto {
    color: $primary-color;
    text-shadow: 0 2px 1px black;
    text-align: center;
    font-size: 2.5rem;
    margin: 20px auto;
  }

  img {
    width: 100%;
    max-height: 50%;
    object-fit: cover;
    box-shadow:
      0 4px 8px 0 rgba(0, 0, 0, 0.2),
      0 -5px 8px 0 rgba(0, 0, 0, 0.3);
  }

  .city-rating {
    display: flex;
    margin: 10px 0;
    justify-content: space-between;

    .rating {
      font-size: 1.2rem;
      color: $primary-color;
    }

    .city {
      font-size: 1.2rem;
      color: $primary-color;
    }
  }

  .overview {
    margin: 5px 0;

    p {
      color: black;
      text-align: justify;
      font-size: 1.3em;
    }
  }

  .menu {
    margin: 20px 0;

    h2 {
      color: $primary-color;
      text-align: center;
      font-size: 1.5rem;
      margin: 10px 0;
    }

    .list {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 1.3rem;
      margin: 30px 0;
    }
  }

  .review {
    display: flex;
    flex-direction: column;
    margin: 50px 0 0 0;

    .review-item {
      margin: 10px;
      padding: 10px;
      border-radius: 5px;
      box-shadow:
        2px 2px 2px rgba(0, 0, 0, 0.1),
        -2px -2px 2px rgba(0, 0, 0, 0.1);

      .name-review {
        font-size: 1.5rem;
        padding: 0 10px;
      }

      .date-review {
        padding: 0 10px;
      }

      .body-review {
        font-style: italic;
        font-size: 1.2rem;
        padding: 20px 10px 10px;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
      }
    }
  }
}

%list-food-drink {
  background-color: white;
  border-radius: 5px;
  color: black;

  box-shadow:
    1px 1px 5px rgba(0, 0, 0, 0.1),
    -1px -1px 5px rgba(0, 0, 0, 0.1);

  p {
    font-size: 1.3rem;
    padding: 5px;
    text-align: center;
  }

  &:hover {
    background-color: $primary-color;
    color: white;
  }
}

.food,
.drink {
  @extend %list-food-drink;
}

.favorite-button {
  font-size: 18px;
  position: fixed;
  bottom: 16px;
  right: 16px;
  background-color: #075174;
  color: white;
  border: 0;
  border-radius: 50%;
  width: 55px;
  height: 55px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.no-favorite-container {
  display: flex;
  justify-content: center;
  margin: 25px auto;
  flex-wrap: wrap;
}

.resto-item__not__found {
  font-size: 1.7rem;
  font-family: Poppins, sans-serif;
  text-align: center;
  max-width: 100%;
  color: $primary-color;
}

footer {
  background-color: #2c3e50;
  padding: 2em;
  width: 100%;
  text-align: center;
  border-radius: 20px 20px 0 0;

  p {
    display: inline-block;
    padding: 1.1em;
    font-size: 1.5em;
    text-decoration: none;
    color: #fff;
  }
}

.skip-content {
  position: absolute;
  font-size: 1.1rem;
  font-weight: 700;
  text-align: center;
  top: -50px;
  left: 0;
  text-decoration: none;
  background-color: $primary-color;
  color: white;
  padding: 8px;
  z-index: 100;
  min-width: 44px;
  min-height: 44px;

  &:focus {
    top: 0;
  }
}

@media screen and (max-width: 499px) {
  .nav-list {
    font-size: 1.7em;
    cursor: default;
    position: fixed;
    color: $primary-color;
    background-color: white;
    margin-top: 60px;
    top: 0;
    right: -25px;
    height: 100%;
    width: 200px;
    flex-direction: column;
    align-items: flex-end;
    display: list-item;
    text-align: center;
    padding: 20px;
    z-index: 10;
    -webkit-transform: translate(200px, 0);
    transform: translate(200px, 0);
    transition: transform 0.3s ease;

    a {
      cursor: default;
    }
  }

  .nav {
    background-color: white;

    a {
      justify-content: center;
    }
  }

  .drink p,
  .food p {
    font-size: 1rem;
  }

  .resto-item-detail {
    width: 90%;
  }

  .favorite-button {
    font-size: 0.5rem;
    width: 66px;
    height: 66px;
  }

  .name-review {
    font-size: 1rem;
    margin: 0;
    padding: 3px auto;
  }

  .date-review {
    margin: 0;
    padding: 20px auto;
  }

  .body-review {
    font-size: 1rem;
    margin: 0;
    padding: 10px;
  }

  .list-food,
  .list-drink {
    grid-template-columns: repeat(2, 1fr);
  }

  button {
    > svg {
      min-width: 44px;
      min-height: 44px;
    }
  }

  .logo {
    justify-content: start;
    margin: 9px;

    img {
      max-width: 50px;
      max-height: 50px;
    }

    h1 {
      a {
        font-size: 23px;
      }
    }
  }

  .open {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }

  .menu-button {
    background-color: transparent;
    border: 0;
    display: block;
    color: $primary-color;
    padding-right: 2rem;
    min-width: 44px;
    min-height: 44px;

    i {
      font-size: 1.25rem;
    }
  }
}

@include devices(mobile-normal) {
  .resto-list {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 5px;
    margin: auto 6rem;
  }

  .menu-button {
    display: none;
  }

  .logo {
    h1 {
      a {
        font-size: 1.2rem;
      }
    }
  }

  .nav {
    a {
      font-size: 1.1rem;
    }
  }
}

@include devices(mobile-large) {
  .resto-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
    margin: auto 6rem;
  }

  .logo {
    h1 {
      a {
        font-size: 1.5rem;
      }
    }
  }
}

@include devices(tablet) {
  .resto-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

@include devices(laptop) {
  main {
    max-width: 1200px;
  }
}
